<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz</title>
</head>
<body>
<div>
    <form action="/form1" method="POST">
        <div>
            <label for="surname">Nazwisko:</label><br>
            <input id="surname" name="surname" type="text"/>
        </div>
        <div>
            <label for="email">E-mail:</label><br>
            <input id="email" name="email" type="text"/>
        </div>
        <div>
            <label for="age">Wiek:</label><br>
            <input id="age" name="age" type="text"/>
        </div>
        <button type="submit">Wyślij</button>
    </form>
</div>
</body>
</html>