<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<div>
    Użytkownik: {{surname}}<br>
    Email: {{email}}<br>
    Wiek: {{age}}<br>
</div>
</body>
</html>